{% extends "layout.html" %}

{% block body %}
    <div data-scenes='{{ data["scenes"]|tojson }}' data-plots='{{ data["plots"]|tojson }}' id="shuttle"></div>
    <!-- Grid-based structure -->
    <div class="container">
        <section class="plot-lines">
            <canvas id="myCanvas" resize="true"></canvas>
            <!--script>
                // Canvas behaviour
                // TODO:
                // Receive data from server
                // Create DOM elements and populate with data received
                    // Start and stop positions for plot lines (+ possible offset from zero)
                    // Scene "stations" at right coordinates + text display
                    // Connecting lines along plotlines
                // Scroll feature (maybe done via css only)
                // Zoom in and out (scale point coordinates by a factor and transform the image)
                    // A few stepwise zoom options to begin with
                    // Parameters needed: scale, offsetX, offsetY
            </script -->
        </section>
        <section class="scene-list">
            <button id="newScene">New Scene</button>
            <button id="editScene">Edit Scene</button>
            <button id="deleteScene">Delete Scene</button>
        </section>
        <aside class="plot-list">
            <button id="newPlot">New Plot</button>
            <button id="editPlot">Edit Plot</button>
            <button id="deletePlot">Delete Plot</button>
        </aside>
    </div>
    <div class="container">
        <form id="sceneMenu">
            <label for="title">Scene title</label><br>
            <input type="text" id="title" name="title" value="New Scene"><br>
            <label for="contents">Contents:</label><br>
            <input type="text" id="contents" name="contents" value="" placeholder="What happens in the scene?"><br>
            <input type="hidden" id="scene_id" name="scene_id" value=""><br>
            <p>Choose the scene type:</p>
                <label for="normal">Normal</label>
                <input type="radio" id="normal" name="type" value="normal"><br>
                <label for="flashback">Flashback</label>
                <input type="radio" id="flashback" name="type" value="flashback"><br>
                <label for="dream">Dream</label>
                <input type="radio" id="dream" name="type" value="dream"><br>
            <p>Insert new scene:</p>
            <label for="before">before</label>
            <input type="radio" id="before" name="follow" value="next">
            <label for="after">after</label>
            <input type="radio" id="after" name="follow" value="previous">
            <select id="sceneList" name="neighbour" search='true' required>
                <!-- option with value = scene_id, innerHTML = scene title -->
            </select><br>
            <label for="part_of">Select all applicable plots:</label><br>
            <select id="part_of" name="part_of" multiple size="3" required>
                <!-- option with value = plot_id, innerHTML = plot title -->
            </select><br>
            <label for="main_plot">Pick the main plot:</label>
            <select id="main_plot" name="main_plot" required>
                <!-- option with value = plot_id OR array index that holds the plot_id, innerHTML = plot title -->
            </select><br>
            <input type="hidden" id="sceneSubmit" name="action" value="">
            <input type="submit" value="Save scene">
            <!--
            Fields like chronology, position and primary state
            should be processed with js to be filled automatically
            load scene_id as hidden to correctly process data
            needs an option for additional plot hookup
            skip time start and end for now as not relevant for function
            -->
        </form>
    </div>
    <div class="container">
        <form id="plotMenu">
            <label for="plotTitle">Plot title</label><br>
            <input type="text" id="plot_title" name="plot_title" value=""><br>
            <input type="hidden" id="plot_id" name="plot_id" value="">
            <label for="plotColor">Choose colour:</label>
            <input type="color" id="colour" name="colour" value="">
            <p>Insert new plot:</p>
            <label for="before">before</label>
            <input type="radio" id="p_before" name="follow" value="next">
            <label for="after">after</label>
            <input type="radio" id="p_after" name="follow" value="previous">
            <select id="plotList" name="neighbour" search='true' required>
                <!-- option with value = scene_id, innerHTML = scene title -->
            </select><br>
            <input type="hidden" id="plotSubmit" name="action" value="">
            <input type="submit" value="Save plot">
            <!-- no need to upload the length attribute here as it's not changed by the user -->
        </form>
    </div>
{% endblock %}