{% extends "layout.html" %}

{% block body %}
    <div data-scenes='{{ data["scenes"]|tojson }}' data-plots='{{ data["plots"]|tojson }}' id="shuttle"></div>
    <!-- Grid-based structure -->
    <div class="container">
        <section class="plot-lines">
            <canvas id="myCanvas" resize="true"></canvas>
            <!--script>
                // Canvas behaviour
                // TODO:
                // Receive data from server
                // Create DOM elements and populate with data received
                    // Start and stop positions for plot lines (+ possible offset from zero)
                    // Scene "stations" at right coordinates + text display
                    // Connecting lines along plotlines
                // Scroll feature (maybe done via css only)
                // Zoom in and out (scale point coordinates by a factor and transform the image)
                    // A few stepwise zoom options to begin with
                    // Parameters needed: scale, offsetX, offsetY
            </script -->
        </section>
        <section id="sceneList" class="scene-list">
            <button id="newScene">New Scene</button>
            <button id="editScene">Edit Scene</button>
            <button id="deleteScene">Delete Scene</button>
        </section>
        <div>
            <button id="newPlot">New Plot</button>
            <button id="editPlot">Edit Plot</button>
            <button id="deletePlot">Delete Plot</button>
            <aside id="plotList" class="plot-list">
            </aside>
        </div>
    </div>
    <dialog id="sceneDialog" class="modal">
        <form id="sceneMenu" name="scene">
            <label for="title">Scene title</label><br>
            <input type="text" id="title" class="title" name="title" value="New Scene"><br>
            <label for="contents">Contents:</label><br>
            <textarea type="text" id="contents" class="contents" name="contents" value="" placeholder="What happens in the scene?" rows="10" cols="70"></textarea><br>
            <input type="hidden" id="scene_id" class="item_id" name="item_id" value=""><br>
            <p>Choose the scene type:</p>
                <label for="normal">Normal</label>
                <input type="radio" id="normal" name="type" value="normal"><br>
                <label for="flashback">Flashback</label>
                <input type="radio" id="flashback" name="type" value="flashback"><br>
                <label for="dream">Dream</label>
                <input type="radio" id="dream" name="type" value="dream"><br>
            <p>Insert new scene:</p>
            <label for="scene_before">before</label>
            <input type="radio" id="scene_before" class="before" name="follow" value="next">
            <label for="scene_after">after</label>
            <input type="radio" id="scene_after" class="after" name="follow" value="previous">
            <details>
                <summary>Please select a scene</summary>
                <fieldset class="neighbourList" name="neighbour"></fieldset>
            </details>
            <details>
                <summary>Select all applicable plots:</summary>
                <fieldset id="part_of" class="part_of" name="part_of"></fieldset>
                <p>Pick the main plot:</p>
                <fieldset id="main_plot" class="main_plot" name="main_plot"></fieldset>
            </details>
            <input type="hidden" class="menuAction" name="action" value="">
            <input type="submit" value="Save scene">
            <button type="button" class="modalClose" name="sceneDialog">Cancel</button>
        </form>
    </dialog>
    <dialog id="plotDialog" class="modal">
        <form id="plotMenu" name="plot">
            <label for="plot_title">Plot title</label><br>
            <input type="text" id="plot_title" class="title" name="title" value=""><br>
            <input type="hidden" name="item_id" class="item_id" value="">
            <label for="plot_colour">Choose colour:</label>
            <input type="color" id="plot_colour" class="colour" name="colour" value="">
            <p>Insert new plot:</p>
            <label for="plot_before">before</label>
            <input type="radio" id="plot_before" class="before" name="follow" value="next">
            <label for="plot_after">after</label>
            <input type="radio" id="plot_after" class="after" name="follow" value="previous">
            <details>
                <summary>Please select a plot</summary>
                <fieldset class="neighbourList" name="neighbour"></fieldset>
            </details>
            <input type="hidden" class="menuAction" name="action" value="">
            <input type="submit" value="Save plot">
            <button type="button" class="modalClose" name="plotDialog">Cancel</button>
            <!-- no need to upload the length attribute here as it's not changed by the user -->
        </form>
    </dialog>
{% endblock %}